BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LEDa[0]" SITE "T11" ;
LOCATE COMP "LEDa[1]" SITE "R13" ;
LOCATE COMP "LEDa[2]" SITE "T14" ;
LOCATE COMP "LEDa[3]" SITE "T9" ;
LOCATE COMP "LEDa[4]" SITE "R10" ;
LOCATE COMP "LEDa[5]" SITE "P10" ;
LOCATE COMP "LEDa[6]" SITE "M8" ;
LOCATE COMP "LEDa[7]" SITE "N10" ;
LOCATE COMP "LEDa[8]" SITE "T10" ;
LOCATE COMP "LEDa[9]" SITE "P11" ;
LOCATE COMP "LEDa[10]" SITE "R11" ;
LOCATE COMP "LEDa[11]" SITE "M11" ;
LOCATE COMP "LEDa[12]" SITE "T12" ;
LOCATE COMP "LEDa[13]" SITE "P9" ;
LOCATE COMP "LEDa[14]" SITE "N9" ;
LOCATE COMP "LEDa[15]" SITE "R9" ;
LOCATE COMP "LEDb[0]" SITE "R7" ;
LOCATE COMP "LEDb[1]" SITE "M6" ;
LOCATE COMP "LEDb[2]" SITE "L8" ;
LOCATE COMP "LEDb[3]" SITE "R4" ;
LOCATE COMP "LEDb[4]" SITE "T5" ;
LOCATE COMP "LEDb[5]" SITE "R6" ;
LOCATE COMP "LEDb[6]" SITE "T4" ;
LOCATE COMP "LEDb[7]" SITE "T7" ;
LOCATE COMP "LEDb[8]" SITE "L7" ;
LOCATE COMP "LEDb[9]" SITE "P7" ;
LOCATE COMP "LEDb[10]" SITE "P8" ;
LOCATE COMP "LEDb[11]" SITE "R8" ;
LOCATE COMP "LEDb[12]" SITE "T8" ;
LOCATE COMP "LEDb[13]" SITE "T3" ;
LOCATE COMP "LEDb[14]" SITE "P4" ;
LOCATE COMP "LEDb[15]" SITE "N6" ;
LOCATE COMP "LEDc[0]" SITE "L14" ;
LOCATE COMP "LEDc[1]" SITE "N14" ;
LOCATE COMP "LEDc[2]" SITE "K13" ;
LOCATE COMP "LEDc[3]" SITE "K15" ;
LOCATE COMP "LEDc[4]" SITE "K16" ;
LOCATE COMP "LEDc[5]" SITE "L16" ;
LOCATE COMP "LEDc[6]" SITE "J15" ;
LOCATE COMP "LEDc[7]" SITE "M16" ;
LOCATE COMP "LEDc[8]" SITE "L15" ;
LOCATE COMP "LEDc[9]" SITE "M15" ;
LOCATE COMP "LEDc[10]" SITE "M14" ;
LOCATE COMP "LEDc[11]" SITE "N16" ;
LOCATE COMP "LEDc[12]" SITE "K12" ;
LOCATE COMP "LEDc[13]" SITE "H14" ;
LOCATE COMP "LEDc[14]" SITE "J14" ;
LOCATE COMP "LEDc[15]" SITE "K14" ;
LOCATE COMP "LEDd[0]" SITE "G16" ;
LOCATE COMP "LEDd[1]" SITE "G15" ;
LOCATE COMP "LEDd[2]" SITE "H15" ;
LOCATE COMP "LEDd[3]" SITE "D14" ;
LOCATE COMP "LEDd[4]" SITE "C15" ;
LOCATE COMP "LEDd[5]" SITE "E14" ;
LOCATE COMP "LEDd[6]" SITE "B16" ;
LOCATE COMP "LEDd[7]" SITE "E15" ;
LOCATE COMP "LEDd[8]" SITE "E16" ;
LOCATE COMP "LEDd[9]" SITE "F16" ;
LOCATE COMP "LEDd[10]" SITE "H16" ;
LOCATE COMP "LEDd[11]" SITE "F15" ;
LOCATE COMP "LEDd[12]" SITE "J16" ;
LOCATE COMP "LEDd[13]" SITE "G14" ;
LOCATE COMP "LEDd[14]" SITE "F14" ;
LOCATE COMP "LEDd[15]" SITE "D16" ;



